@model CGEvents.Models.Ams

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ams</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fname" class="control-label"></label>
                <input asp-for="Fname" class="form-control" />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lname" class="control-label"></label>
                <input asp-for="Lname" class="form-control" />
                <span asp-validation-for="Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportName" class="control-label"></label>
                <input asp-for="PassportName" class="form-control" />
                <span asp-validation-for="PassportName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paname" class="control-label"></label>
                <input asp-for="Paname" class="form-control" />
                <span asp-validation-for="Paname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paemail" class="control-label"></label>
                <input asp-for="Paemail" class="form-control" />
                <span asp-validation-for="Paemail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventId"></select>
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventGroupId" class="control-label"></label>
                <input asp-for="EventGroupId" class="form-control" />
                <span asp-validation-for="EventGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniqId" class="control-label"></label>
                <input asp-for="UniqId" class="form-control" />
                <span asp-validation-for="UniqId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patel" class="control-label"></label>
                <input asp-for="Patel" class="form-control" />
                <span asp-validation-for="Patel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atime" class="control-label"></label>
                <input asp-for="Atime" class="form-control" />
                <span asp-validation-for="Atime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adate" class="control-label"></label>
                <input asp-for="Adate" class="form-control" />
                <span asp-validation-for="Adate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dtime" class="control-label"></label>
                <input asp-for="Dtime" class="form-control" />
                <span asp-validation-for="Dtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ddate" class="control-label"></label>
                <input asp-for="Ddate" class="form-control" />
                <span asp-validation-for="Ddate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AcityName" class="control-label"></label>
                <input asp-for="AcityName" class="form-control" />
                <span asp-validation-for="AcityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DcityName" class="control-label"></label>
                <input asp-for="DcityName" class="form-control" />
                <span asp-validation-for="DcityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsRequired" class="control-label"></label>
                <input asp-for="IsRequired" class="form-control" />
                <span asp-validation-for="IsRequired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnArrDate" class="control-label"></label>
                <input asp-for="OwnArrDate" class="form-control" />
                <span asp-validation-for="OwnArrDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnArrTime" class="control-label"></label>
                <input asp-for="OwnArrTime" class="form-control" />
                <span asp-validation-for="OwnArrTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnArrFlightNo" class="control-label"></label>
                <input asp-for="OwnArrFlightNo" class="form-control" />
                <span asp-validation-for="OwnArrFlightNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnDepDate" class="control-label"></label>
                <input asp-for="OwnDepDate" class="form-control" />
                <span asp-validation-for="OwnDepDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnDepTime" class="control-label"></label>
                <input asp-for="OwnDepTime" class="form-control" />
                <span asp-validation-for="OwnDepTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnDepFlightNo" class="control-label"></label>
                <input asp-for="OwnDepFlightNo" class="form-control" />
                <span asp-validation-for="OwnDepFlightNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelChkIn" class="control-label"></label>
                <input asp-for="HotelChkIn" class="form-control" />
                <span asp-validation-for="HotelChkIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelChkOut" class="control-label"></label>
                <input asp-for="HotelChkOut" class="form-control" />
                <span asp-validation-for="HotelChkOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsVisaReq" class="control-label"></label>
                <input asp-for="IsVisaReq" class="form-control" />
                <span asp-validation-for="IsVisaReq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtSubmit" class="control-label"></label>
                <input asp-for="DtSubmit" class="form-control" />
                <span asp-validation-for="DtSubmit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsAttending" class="control-label"></label>
                <input asp-for="IsAttending" class="form-control" />
                <span asp-validation-for="IsAttending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttendingOpt" class="control-label"></label>
                <input asp-for="AttendingOpt" class="form-control" />
                <span asp-validation-for="AttendingOpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsFollowupReq" class="control-label"></label>
                <input asp-for="IsFollowupReq" class="form-control" />
                <span asp-validation-for="IsFollowupReq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsHotelReq" class="control-label"></label>
                <input asp-for="IsHotelReq" class="form-control" />
                <span asp-validation-for="IsHotelReq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsTransferReq" class="control-label"></label>
                <input asp-for="IsTransferReq" class="form-control" />
                <span asp-validation-for="IsTransferReq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tempemail" class="control-label"></label>
                <input asp-for="Tempemail" class="form-control" />
                <span asp-validation-for="Tempemail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObflightNo" class="control-label"></label>
                <input asp-for="ObflightNo" class="form-control" />
                <span asp-validation-for="ObflightNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obdate" class="control-label"></label>
                <input asp-for="Obdate" class="form-control" />
                <span asp-validation-for="Obdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obetd" class="control-label"></label>
                <input asp-for="Obetd" class="form-control" />
                <span asp-validation-for="Obetd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obeta" class="control-label"></label>
                <input asp-for="Obeta" class="form-control" />
                <span asp-validation-for="Obeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obclass" class="control-label"></label>
                <input asp-for="Obclass" class="form-control" />
                <span asp-validation-for="Obclass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InflightNo" class="control-label"></label>
                <input asp-for="InflightNo" class="form-control" />
                <span asp-validation-for="InflightNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Indate" class="control-label"></label>
                <input asp-for="Indate" class="form-control" />
                <span asp-validation-for="Indate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inetd" class="control-label"></label>
                <input asp-for="Inetd" class="form-control" />
                <span asp-validation-for="Inetd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ineta" class="control-label"></label>
                <input asp-for="Ineta" class="form-control" />
                <span asp-validation-for="Ineta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inclass" class="control-label"></label>
                <input asp-for="Inclass" class="form-control" />
                <span asp-validation-for="Inclass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obsec" class="control-label"></label>
                <input asp-for="Obsec" class="form-control" />
                <span asp-validation-for="Obsec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Insec" class="control-label"></label>
                <input asp-for="Insec" class="form-control" />
                <span asp-validation-for="Insec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirTktFileName" class="control-label"></label>
                <input asp-for="AirTktFileName" class="form-control" />
                <span asp-validation-for="AirTktFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsNew" class="control-label"></label>
                <input asp-for="IsNew" class="form-control" />
                <span asp-validation-for="IsNew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsVisaReqOpt" class="control-label"></label>
                <input asp-for="IsVisaReqOpt" class="form-control" />
                <span asp-validation-for="IsVisaReqOpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisaFileName" class="control-label"></label>
                <input asp-for="VisaFileName" class="form-control" />
                <span asp-validation-for="VisaFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Starter" class="control-label"></label>
                <input asp-for="Starter" class="form-control" />
                <span asp-validation-for="Starter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grill" class="control-label"></label>
                <input asp-for="Grill" class="form-control" />
                <span asp-validation-for="Grill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dessert" class="control-label"></label>
                <input asp-for="Dessert" class="form-control" />
                <span asp-validation-for="Dessert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtModified" class="control-label"></label>
                <input asp-for="DtModified" class="form-control" />
                <span asp-validation-for="DtModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfCoAttendee" class="control-label"></label>
                <input asp-for="NoOfCoAttendee" class="form-control" />
                <span asp-validation-for="NoOfCoAttendee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FdAllergy" class="control-label"></label>
                <input asp-for="FdAllergy" class="form-control" />
                <span asp-validation-for="FdAllergy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlleryDesc" class="control-label"></label>
                <input asp-for="AlleryDesc" class="form-control" />
                <span asp-validation-for="AlleryDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgendaFileName" class="control-label"></label>
                <input asp-for="AgendaFileName" class="form-control" />
                <span asp-validation-for="AgendaFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IcsFileName" class="control-label"></label>
                <input asp-for="IcsFileName" class="form-control" />
                <span asp-validation-for="IcsFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndvDeadline" class="control-label"></label>
                <input asp-for="IndvDeadline" class="form-control" />
                <span asp-validation-for="IndvDeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualAttendance" class="control-label"></label>
                <input asp-for="ActualAttendance" class="form-control" />
                <span asp-validation-for="ActualAttendance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

