@model CGEvents.Models.Ams

@{
    ViewData["Title"] = "Upload Details";
    ViewData["Action"] = "Upload";
    ViewData["EventIdB"] = null;
    ViewData["CurrentPage"] = "Upload Details";

}

<div class="table-responsive">
    <div class="card border-info mb-3" style="max-width: 100%;">
        <div id="eventSelection" class="card-header">Select an event</div>
        <div class="card-body text-info">

            <p class="card-text">
                @(Html.Kendo().DropDownList()
                        .Name("Event")
                        .DataTextField("EventName")
                        .DataValueField("EventId")
                        .OptionLabel("Select Event ...")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetEvents", "Upload");
                            });
                        })
                        .HtmlAttributes(new { style = "width: 100%" })
                )
            </p>
        </div>
    </div>

    <div class="card border-info mb-3" style="max-width: 100%;">
        <div class="card-body ">
            <p class="card-text">
                @(Html.Kendo().Upload()
                    .Name("files")
                    .Async(a => a
                        .Save("Async_Save", "Upload")
                        .Remove("Async_Remove", "Upload")
                        .AutoUpload(true)
                    )
                    .Events(events => events
                    .Success("onSuccess")
                    .Select("onSelect")
                    .Upload(@<text>
                        function(e) {
                        e.data = { eid:$("#Event").val()};
                        }
                    </text>)
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                )
                )
                 <div class="box">
                        @*<h4>Console log</h4>*@
                        <div class="console" id="UploadStatusConsole"></div>
                 </div>
            </p>
        </div>
    </div>
</div>

<script>
    //$dropdownlist.data("kendoDropDownList").select(2);
    $(function ()
    {
        var dropdownlist = $("#Event").data("kendoDropDownList");
        var eid=@Html.Raw(Json.Serialize(ViewData["EventId"]));

        if (eid != null)
        {
            dropdownlist.value(eid);
            dropdownlist.enable(false);
            $("#eventSelection").html("Event Name");
        }
    });

    function onSuccess(e)
    {
    if (e.response.Content.includes('File not updated') || e.response.Content.includes('No Event Selected') || e.response.Content.includes('No files selected'))
    {
        $('#UploadStatusConsole').html(e.response.Content);
        e.preventDefault();
    }
    $('#UploadStatusConsole').html(e.response.Content);
    // $('#UploadStatusConsole').append(e.XMLHttpRequest.status);
    };

    function onSelect(e)
    {
    var uploadWidget = $("#files").getKendoUpload();
    uploadWidget.clearAllFiles();
    $('#UploadStatusConsole').html('');
    };
</script>
