<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="CGEvents" asp-action="Index" asp-route-view="index">
                <i class="nav-icon icon-speedometer"></i> Dashboard
                <span class="badge badge-primary">NEW</span>
            </a>
        </li>

        <li class="divider"></li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-event"></i> Event
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Events" asp-action="Index" target="_top">
                        <i class="nav-icon icon-pencil"></i> Add/Edit/List
                    </a>
                </li>

            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-event"></i> Mail Template
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Email" asp-action="SaveTemplate" target="_top">
                        <i class="nav-icon icon-pencil"></i> Create New
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Email" asp-action="EditTemplate" target="_top">
                        <i class="nav-icon icon-arrow-up-circle"></i> Edit
                    </a>
                </li>

            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-people"></i> Invitee
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Events" asp-action="Index" target="_top">
                        <i class="nav-icon icon-pencil"></i> Add/Edit/List
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Upload" asp-action="Index" target="_top">
                        <i class="nav-icon icon-arrow-up-circle"></i> Upload
                    </a>
                </li>

            </ul>
        </li>

        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-envelope"></i> Sent Email
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Email" asp-action="Index" target="_top">
                        <i class="nav-icon icon-calendar"></i> Save the Date
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="Index" target="_top">
                        <i class="nav-icon icon-envelope-letter"></i> Invitation
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="Index" target="_top">
                        <i class="nav-icon icon-speech"></i> General
                    </a>
                </li>


            </ul>
        </li>


        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-folder"></i> Responses
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="Index" target="_top">
                        <i class="nav-icon icon-like"></i> Attending
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="Index" target="_top">
                        <i class="nav-icon icon-dislike"></i> Not Attending
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="Index" target="_top">
                        <i class="nav-icon icon-minus"></i> No Reply
                    </a>
                </li>


            </ul>
        </li>
    </ul>
</nav>
